


<h1> Angular Pipes </h1><hr><hr>

<h4>Date pipes</h4>

{{today | date}} <hr><hr>

<h4>format Dates</h4>

{{today | date:"dd/MM/yyyy"}} <hr>
<br>

{{today | date:"dd/MM/yyyy hh:mm:a" }} <hr>
<br>

{{today | date:'fullDate' | uppercase}} <hr>
<br>

{{today | date:'fullDate' | lowercase}} <hr>

<h4>currency formats</h4>

{{1000 | currency: "INR"}} <hr>


{{1000 | currency: "USD"}}<hr>

{{1000 | currency: "EUR"}}<hr>

<h4>slice pipes</h4>

{{laptops | slice:1}} <hr>

{{laptops | slice:3}}

<hr>
<h4>Decimal pipes</h4>

<p>{{4.89762345 }}</p>

<p>{{4.89762345 | number}}</p>

<p>{{4.89762345 | number:'3.1'}}</p>

<p>{{4.89762345 | number:'2.1-4'}}</p>
<hr>
<h4>Percent Pipes</h4>

<p>{{0.95876 | percent}}</p>

{{student | json}}


<hr><hr>

<h4>custom pipes</h4>
<h5>Square</h5>

<p>{{5 | square}}</p>

<h5>pi value add in value</h5>

<p>{{ 20 | pi}}</p>
